*{
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
}

body, html{
    overflow-x: hidden;
}

p {
    margin-top: 10px;
    line-height: 150%;
    color:#747171;
}

.wrapper{
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}

#checkbox-menu, .toggle{
    display: none;
}


nav{
    margin: auto;
    width: 100%;
}

.outer-menu{
    background: #2e2e2e;
    height: 70px;
    margin: 0;
    padding: 0px 5% 0px 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.menu{
    height: 40px;
    background: white;
    margin: 0;
    padding: 0px 5% 0px 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.hide-menu{
    background: #2e2e2e;
    height: 0;
    width: 100%;
    transition: height 0.2s linear;
    visibility: hidden;
}

.hide-menu-ul{
    width: 100%;
    height: 400px;
    padding: 30px;
    padding: 0px 5% 0px 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    list-style-type: none;

}

.hide-menu-ul a{
    color:#fff;
    text-decoration: none;
    transition: all .7s ease-in-out;
}

.menu a{
    color: #868d94;
    font-size: 17px;
    font-weight: 500;
   text-decoration: none;
   transition: all 0.7s ease-in-out;
}

.menu a:hover, .hide-menu-ul a:hover{
    color: #eb5d41;
    
 }

.menu-part{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.menu-part a{
    color:#fff;
    text-decoration: none;
    margin:1.5em;
    font-size: 23px;
    transition: all 0.7s ease-in-out;
}

.menu-part a:hover{
    color:grey;
}

.menu-logo-part{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}




.logo-text{
    color:#fff;
    font-size: 30px;
    padding: 0;
    text-decoration: none;
}

.mr-0 a{
    padding: 0;
}

.logo img{
    width: 50px;
    height: 50px;
}

.first-cont a,  .text-block-web a, .more-art-btn a{
    margin-top: 25px;
    text-align: center;
    text-decoration: none;
    box-shadow: 4px 6px 10px rgba(241,106,81,.4);
}

.first-cont a:hover,  .text-block-web a:hover, .more-art-btn a:hover{
    margin-top: 25px;
    text-align: center;
    text-decoration: none;
    box-shadow: 4px 6px 10px rgba(104, 31, 92, 0.4);
}


.all-video-btn{
    text-align: center;
    margin-top: 30px;
}

.first-section{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.first-section h1{
    margin: 10px 0px;
    font-size: 2.5rem;
    font-weight: bold;
}


.last img{
  width: 100%;
  height:auto;
  transition: all .7s ease-in-out;
}

.last img:hover{
    transform: scale(1.05);
    opacity: 0.9;
}


.py-video{
    background-color: #333;
    padding: 60px;
}

.video-part{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}


.video-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-start;
}

.video-header a{
    text-decoration: none;
    border: 1px solid black;
    margin: 10px;
}

.video-header h2{
    font-size: 40px;
}

.cards{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.search{
    color: #868d94;
    transition: all .7s ease-in-out;
}

.search:hover{
    color: #000;
}

.hide-menu-ul .search{
    color:#fff;
}

.hide-menu-ul .search:hover{
    color:#868d94;
}


.card{
    max-width: 380px;
    margin-top: 2%;
    margin-right: 1%;
    margin-bottom: 20px;
}

.card video{
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: all 0.7s ease-in-out;
}

.card video:hover{
    transform: scale(1.05);
    box-shadow: 10px 0 10px rgba(0,0,0,0.8);
}

.first-video{
    width: 100%;
}

.second-video{
    width: 25%;
}

.third-video{
    width: 25%;
}

.align-base{
    align-self: baseline;
}

.video-heading-odd{
    writing-mode: vertical-rl;
    margin-top: 2%;
    font-weight: 700;
    font-size: 1.5rem;
    margin-right: 1%;
}

.video-heading-even{
    writing-mode: vertical-rl;
    margin-top: 0;
    font-weight: 700;
    font-size: 1.5rem;
    margin-right: 1%;
    align-self: center;
    margin-bottom: 4%;
}

.articals{
    background: #f6f6f6;
    padding: 60px;
}

.artic h2{
    color: #333;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 2.25rem;
    margin-right: 25px;
}

.artical-cards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.artical-card{
    max-width: 348px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 5px;
    margin: 10px 0px;
    overflow: hidden;
    transition: all .7s ease-in-out;
}

.artical-card:hover{
    box-shadow: 0px 15px 20px rgba(0,0,0,0.8);

}

.artical-card img{
    transition: all 0.7s ease-in-out;
}

.artical-card img:hover{
    transform: scale(1.05);
}


.articl-desc{
    padding: 25px;
}

.articl-info{
    display: flex;
    justify-content: space-between;
    margin: 25px;

}

.artical-card img {
    max-width: 348px;
    max-height: 200px;
}

.articl-title{
    font-size: 17px;
    color: #333;
    font-weight: 700;
}

.articl-text{
    font-size: 15px;
    font-weight: 200;
    margin-top: 0;
    /*color: #434343;*/
    color:#6e6e6e;
}

.more-art-btn{
    text-align: center;
    margin-top: 30px;
}

.more-art-btn a{
    text-decoration: none;
    transition: all 700ms ease;
}

.btn {
    width: 300px;
    padding: 18px 20px;
    max-width: 80%;
    cursor: pointer;
    font-weight: 500;
    overflow: hidden;
    display: inline-block;
    border: initial;
    vertical-align: middle;
    text-align: center;
}

.red {
    border-radius: 10px;
    color: #fff;
    background-color: #eb5d41;
    z-index: 1;
    transition: color .7s ease-in-out;
    transition: background-color .7s ease-in-out;
}

.red:hover{
    background-color: #81347d;
}


.menu-part a.white{
    color:#000;
}

.menu-part a.white:hover{
    color:#eb5d41;
}

.white {
    border-radius: 10px;
    color: #000;
    background-color: white;
    z-index: 1;
    transition: color .7s ease-in-out;
    transition: background-color .7s ease-in-out;
}

.white:hover {
    border-radius: 10px;
    border-color: #fff;
    color: #fff;
    background-color: #000;
    z-index: 1;
}


#clouds {
    width: 100%;
    overflow: hidden;
}


#clouds img {
    width: 100%;
    min-width: 1000px;
}

.social {
    background: #fff;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.social h2 {
    color: #232323;
    font-weight: 700;
    font-size: 2.25rem;
    margin-right: 25px;
}

.social p.social-main {
    margin-top: 20px;
    width: 500px;
}

.all-socials{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.all-socials>div {
    width: 100px;
    height: 100px;
    text-align: center;
    margin-right: 5%;
}

.all-socials>div p {
    opacity: 0;
    transition: all .8s ease;
}

.all-socials>div:hover p {
    opacity: 1;
}

.all-socials>div img {
    transition: all .7s ease-out;
}

.all-socials>div:hover img {
    transform: translateY(-10px);
}

.website {
    background: #fff;
    padding-bottom: 70px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

.image-web img{
    width: 100%;
    height: auto;
    transition: all .7s ease-out;
    position: relative;
    
}

.website h2 {
    color: #000;
    font-weight: 700;
    font-size: 2.25rem;
    margin-right: 25px;
}

footer{
    flex: 0 0 auto;
    background-color: #343434;
    border-top: 5px solid #59595a;
    padding-top: 50px;
    padding-bottom: 50px;
}

#social-buttons {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

#social-buttons i {
    font-size: 35px;
    color: #f26651!important;
    transition: all .3s ease;
    margin-right: 45px;
    max-width: 50px;
}

#social-buttons i:hover {
    transform: translateY(-10px);
    color: #81347d!important;
}

.footer-logo {
    color: #fff;
    text-align: center;
}

footer form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#to_top {
    margin: 0 auto;
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #fff;
    color: #f26651;
    line-height: 50px;
    font-size: 20px;
    cursor: pointer;
    -webkit-box-shadow: 2px 2px 20px rgba(255,255,255,.5);
    box-shadow: 2px 2px 20px rgba(255,255,255,.5);
    transition: all .3s ease;
}

#to_top:hover{
    color:#000;
    transform: translateY(-10px);
}

#all-footer-items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-logo>a {
    text-decoration: none;
}

.footer-logo>a>img {
    width: 50px;
    height: 50px;
    float: left;
}

.footer-logo>a>span {
    font-size: 42px;
    color: #fff;
    font-weight: 700;
    margin-left: 10px;
}

.footer-links {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.footer-links>div {
    display: inline-block;
    margin: 0px 25px;
}

.footer-links>div .headings-footer {
    color: #fff;
    margin-bottom: 23px;
    font-weight: 500;
    font-size: .875rem;
}

.footer-links>div ul {
    list-style: none;
}

.footer-links>div ul a {
    color: rgba(255,255,255,.5);
    font-weight: 400;
    font-size: .875rem;
    display: block;
    margin-bottom: 21px;
    text-decoration: none;
}

.footer-links>div ul a:hover, .mail-footer a:hover {
    text-decoration: underline;
}

.footer-subscribe {
    display: flex;
    flex-direction: column;
    color: rgba(255,255,255,.5);
    margin-bottom: 15px;
    font-weight: 400;
    font-size: .75rem;
    width: 300px;
    justify-content: center;
    align-items: center;
}


#emailFooter {
    margin: 10px 0;
    background-color: #3e3e3e;
    border-radius: 9px;
    width: 300px;
    text-align: center;
    color: #b9b9b9;
    height: 40px;
    font-weight: 400;
    font-size: .8rem;
    border: none;
    font-family: Montserrat,sans-serif;
}

.mail-footer {
    margin-top: 20px;
    color: rgba(255,255,255,.5);
    font-weight: 500;
    font-size: .875rem;
}
.mail-footer a{
text-decoration: none;
color:#fff;
}

.fab {
    font-family: "Font Awesome 5 Brands";
}

.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}




.title_course {
    margin-top: 5px;
    font-weight: 500;
    height: 37px;
    display: block;
    font-size: .875rem;
    color: #fff;
    transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -webkit-transition: all .6s ease;
}

.title_course:hover {
   color:#eb5d41;
}

.time-start {
    font-size: 14px;
    color: #eaeaea;
    font-weight: 200;
}

.menu-btn{
    width: 150px;
    padding: 10px 10px;
    max-width: 80%;
    cursor: pointer;
    font-weight: 500; 
    overflow: hidden; 
    display: inline-block; 
    border: initial; 
     vertical-align: middle; 
    text-align: center;
}


.image-web img:hover{
    transform: scale(1.05);
    opacity: 0.85;
}

.logo_simple{
    transition: all .5s ease-in-out;
}

.logo_simple:hover{
    transform: scale(1.3);
}

@media (max-width: 1024px) 
{
.all-socials{
    width: 100%;
}
}

@media (min-width: 1025px)
{
.all-socials{
    width: 650px;
    margin-left: 100px;
}
}

@media screen and (max-width: 765px){
    .toggle{
        clear: both;
        display: block;
        text-align: center;
        font-size: 18px;
        line-height: 40px;
        color: #fff;
        background: #2e2e2e;
        transition: all 0.2s linear;
    }
.menu-part{
    display: none;
}
.low-menu{
    display: none;
}
.first-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.first-section img{
    width: 80%;
}

.cards{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.second-video, .third-video{
    width: 100%;
}

.video-header{
    text-align: left;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.video-part .wrapper p{
    text-align: left;
    color: #fff !important;
}

.video-heading-odd, .video-heading-even{
    writing-mode: horizontal-tb;
    align-self: self-start;writing-mode: horizontal-tb;
}

.artical-cards{
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all-socials{
    width: 100%;
    flex-wrap: wrap;
}

.social {
    margin-left: 5%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 5%;
}

.social p.social-main {
    width: 100%;
    margin-right: 10%;
}

.website {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.image-web{
order: 1;
margin: 30px;
max-width: 380px;
}

#all-footer-items{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#all-footer-items div{
    margin-bottom: 15px;
}

#social-buttons{
    flex-wrap: wrap;
}

#social-buttons i{
    margin-top: 20px;
    margin-left: 5%;
}

.video-header .menu-btn{
    margin-left: 0px;
}

}
